VITE_SUPABASE_URL=https://qwkmzfynwfkuvymgbbro.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3a216Znlud2ZrdXZ5bWdiYnJvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4ODQzMzIsImV4cCI6MjA5MTQ2MDMzMn0.53CDUf5UJ7oEh9LZRYZZLPnqn-Y546kDobPyivYx58M

VITE_INVITE_REDIRECT_TO=http://localhost:8080/login
